<ul>
  <%if @songs.song_sort_order == "ASC"%>
  <%@songs = @songs.order('name ASC')%>
  <%elsif @songs.song_sort_order == "DESC"%>
    <%@songs = @songs.order('name DESC')%>
    <%end%>
    
<% @songs.each do |song| %>
  <li><%= display_artist(song) %> - <%= link_to song.title, song_path(song) %></li>
<% end %>
</ul>
<br>
<%= link_to "Add New Song", new_song_path %>
